a
{
	text-decoration: none;
}
.center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.album-cover
{
	width: 50%;
}

.box-1
{
	padding-left: 3.5em;
}
.my-pure-box
{
	margin: 1px;
}

.my-content
{
	background-image: url(../img/blurred-blue.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro-page
{
	background-image: url(../img/blurred-blue.jpg);
	background-position: center 20;
	background-size: cover;
	background-repeat: no-repeat;
}
.bt-open
{
	margin-top: 50%;
	color:white;
}
bt-open:hover
{
	margin-top: 50%;
	color:green;
}

.connection-page
{
	background-image: url(../img/blurred-blue.jpg);
	background-position: center 50;
	background-size: cover;
	background-repeat: no-repeat;
}

.white
{
	color: white;
}